body {
	margin: auto;
}
h1 {
	text-align: center;
}

.container {
	margin: auto;
	padding: 20px;
}

.movie {
	display: flex;
	cursor: pointer;
}

.header {
	padding: 10px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #ddd;
}

.search {
	margin: auto;
	display: flex;
	align-items: baseline;
	justify-content: center;
}
